@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



   .navsearch {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/imgs/cabin-navbar.png');
    height: 450px;
  }


   .navgreen {
    background-color: #486349;
    display: block;
  }

   
  .custom-margin-left {
    margin-left: 100px; /* For the search button on searchNav */
  }

.xl-font-size {
  font-size: 45px;
}
   .space {
    margin-top: 200px;
  }



